body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #b8e3b6;
  }
  
  .container {
    flex: 1 0 auto;
    padding-top: 50px;
  }
  
  h2 {
    margin-bottom: 30px;
    color: white;
  }
  
  #result {
    margin-top: 20px;
    color: #26a69a;
  }
  
  .nav-wrapper {
    background-color: #02220d; 
  }